/* Container for logo and nav */
.logo-content {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  max-width: 1140px;
  margin: 0 auto;  
  padding: 15px 30px;
  background-color: #fdfdfd; 

}

.logo img {
  height: 70px;
}

nav ul {
  list-style: none; 
  margin: 0;
  padding: 0;
  display: flex;
  gap: 48px;
  align-items: center;
  
}

nav ul li {
  font-family: Arial, sans-serif;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: color 0.3s ease;
}

nav ul li img {
  height: 18px;
}
/*  */
